<div class="dashboard-container text-primary">
    <div class="confirmed orangeBG whiteOUTLINE flex justify-center items-center border-radius-round">
        <img src="/assets/icons/check.svg" class="icon--xl">
    </div>
    <div class="text-center">
        <span class="text-xxl font-bold">$</span>
        <span class="text-xxl font-bold">
            <!-- monto pagado -->
            <%= amount_format(@transaction&.amount) %>
        </span> 
    </div>
    <div class="details flex flex-col gap-s justify-center gray2BG border- spacing-xxl w-full border-radius-small">
        <div class="flex justify-between">
            <p>Para:</p>
            <p class="font-bold">
                <!-- persona que recibe el pago -->
                <%= @transaction.target_account.user.first_name %> <%= @transaction.target_account.user.last_name %>
            </p>
        </div>
        <div class="flex justify-between">
            <p>Fecha:</p>
            <p class="font-bold">
                <!-- fecha y hora del movimiento -->
                <%= format_date(@transaction.date) %> - <%= format_time(@transaction.time) %>
            </p>
        </div>
        <div class="flex justify-between">
            <p>Alias:</p>
            <p class="font-bold">
                <!-- alias de la persona que recibe el pago -->
                <%= @transaction.target_account.alias %>
            </p>
        </div>
        <div class="flex justify-between">
            <p>Numero de movimiento:</p>
            <p class="font-bold">
                <!-- id del movimiento -->
                <%= @transaction.transaction_number %>
            </p>
        </div>
    </div>
    <div class="btn-group">
        <a href="/dashboard/home" class="btn btn--round btn--orangeOUTLINE text-primary">Volver</a>
    </div>
</div>